


@media (min-width: 700px) {

   header {
   background-image: url('./public/header.png');
   min-height: 90vh;
   background-repeat: no-repeat;
   background-size: 120%;
   background-position: 100% 35%;
   position: relative;
   }

   header a {
       text-align: right;
   }

   header .logo {
    top: 170px;
    right: 230px;    
   }

   .logo img {
    width: 150%;
}
.logo span {
    font-size: 20px;
    justify-self: flex-start;
}


    .interest {
        display: grid;
        justify-items: center;
    }
    .interest .video_button {
        font-size: 40px;
        margin-top: 25px;
    }
    
    .interest_text {
        max-width: 780px;
        top: 0;
        margin-top: 30px;
        font-size: 35px;
    }

    .interest_text_label {
        font-size: 35px;
        border-radius: 35px;
        padding: 5px 12px
    }
    
    .dots {
        margin: 100px 0px;
    }

    .dots_element {
        width: 10px;
        height: 10px;
    }

    .condition {
        display: grid;
    }

    .condition_text {
        font-size: 45px;
        margin: 35px 100px;
    }

    .condition_pointList {
        max-width: 90vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        justify-self: center;
        align-items: self-end;

    }

    .condition_point, .condition_point:nth-child(2n) {
        justify-self: center;
        margin-top: 0px;
        width: 30vw;
        justify-items: center;
    }
    .condition_point div {
        width: 80px;
        height: 80px;
        border-width: 2px;
    }
    .condition_point div span {
        font-size: 30px;
    }
    .condition_point p {
        width: 70%;
        text-align: center;
        font-size: 20px;
    }
    .how {
        border-radius: 100px ;
        padding: 100px 36px
    }
    .how_header {
        font-size: 40px;
    }

    .how_point {
        justify-items: center;
    }

    .how_point img {
        margin-top: 50px;
        width: 120px;
        height: 120px;
    }

    .how_point h3 {
        font-size: 39px;
    }
    .how_point p {
        font-size:  20px;
        width: 70%;
    }

    .video_header {
        font-size: 35px;
    }
    .video_header span {
        font-size: 35px;
    }
    iframe {
        height: 700px;
        width: 393px;
    }


    footer {
        border-top-right-radius: 100px;
        border-top-left-radius: 100px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        'header header header'
        'data payments info'
        '. payments info'
        ;
    }

    .footer_contactData {
        justify-self: center;
    }




}

@media (min-width: 700px) { 
    .price { 
        flex-direction: row;
    }

}

@media (min-width: 1100px) {
    .price {
        width: 1000px;
        flex-direction: row;
        border-radius: 100px;

        margin: 100px auto;
        padding: 100px;
        gap: 100px;
            }

            .price img {
                width: 300px;
            }

            .price_info h2 {
            font-size: 39px;
            }

            .price_info p {

    font-size: 20px;
            }


.price_info a{ 
    padding: 10px 35px;
    font-size: 24px;
}
 }