* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

header {
    padding: 20px;
}

header img {
    width: 50%;
}

header h1 {
    margin-top: 30px;
    font-size: 24px;
    color: #515151;
    font-weight: bold;
}

header form {
    margin-top: 60px;
    display: grid;
    height: 100%;
    align-content: flex-start;
    gap: 15px;
}

header form p {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

header form p.show {
    opacity: 1;
}


header form input {
    border: 3px solid #699C8B;
    height: 40px;
    border-radius: 20px;
    outline: none;
    text-align: left;
    padding-left: 20px;
}


header form button {
    display: inline-block;
    color: white;
    border: none;
    outline: none;
    background-color: #699C8B;
    font-size: 24px;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    -webkit-transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    -moz-transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

header form button.press {
    transform: scale(0.95, 0.95);
    -webkit-transition: transform 0.5s cubic-bezier(0.36, 0, 0.66, -0.56);
    -moz-transition: transform 0.5s cubic-bezier(0.36, 0, 0.66, -0.56);
    transition: transform 0.5s cubic-bezier(0.36, 0, 0.66, -0.56);

}

header form button:disabled {
    background-color: #515151;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;

}



@keyframes shake-hard {

    25% {
        transform: translate(0px, 5px);
    }



    50% {
        transform: translate(0px, 0px);
    }



    74% {
        transform: translate(0px, -5px);
    }


    0%,
    100% {
        transform: translate(0px, 0px);
    }
}


header form button.wrong {
    animation-name: shake-hard;
    animation-duration: 100ms;
    animation-name: shake-hard;
    animation-timing-function: ease-in-out;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

footer {
    background-color: #515151;
    color: #C4C4C4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-areas:
        'header header'
        'data tagline'
    ;
}

.footer_header {
    grid-area: header;
    font-size: 22px;
}

.footer_contactData {
    grid-area: data;
    display: grid;
    gap: 5px;
}

.footer_contactData div {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 10px;
    align-content: center;
    align-items: center;
}

.footer_contactData img {
    width: 25px;
    height: 25px;
}

.footer_contactData a {
    font-size: 14px;
}


.footer_tagline {
    grid-area: tagline;
    justify-self: center;
    align-self: center;
}

.footer_tagline h4 {
    font-size: 16px;
    margin: 0px;
}

.footer_tagline p {
    font-size: 14px;
}